USE [master]
GO
/****** Object:  Database [tecno]    Script Date: 7/1/2019 10:01:49 PM ******/
CREATE DATABASE [tecno]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tecno', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.TRAINING\MSSQL\DATA\tecno.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'tecno_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.TRAINING\MSSQL\DATA\tecno_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tecno].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tecno]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 7/1/2019 10:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumnos](
	[DNI] [int] NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Profesores]    Script Date: 7/1/2019 10:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Profesores](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Mail] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Profesores] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Alumnos] ([DNI], [Apellido], [Nombre]) VALUES (1267888, N'Rodriguez Perez', N'Flor')
GO
INSERT [dbo].[Alumnos] ([DNI], [Apellido], [Nombre]) VALUES (40129421, N'Bascher', N'Cecilia')
GO
INSERT [dbo].[Alumnos] ([DNI], [Apellido], [Nombre]) VALUES (42103193, N'Rueda', N'Nazarena')
GO
SET IDENTITY_INSERT [dbo].[Profesores] ON 

GO
INSERT [dbo].[Profesores] ([ID], [Apellido], [Nombre], [Mail]) VALUES (1, N'Lopez', N'Marta', N'marta.lopez@gmail.com')
GO
INSERT [dbo].[Profesores] ([ID], [Apellido], [Nombre], [Mail]) VALUES (2, N'Suarez', N'Luis', N'luisitosusu@outlook.com')
GO
SET IDENTITY_INSERT [dbo].[Profesores] OFF
GO
USE [master]
GO
